<div class="login-container">
  <form action="" (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <div class="email">
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" formControlName="email">
    </div>
    <div class="password"><label for="password">Password: </label>
      <input type="password" name="password" id="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="!myForm.valid">
      Login
    </button>
    <a routerLink="registration-page">Signup</a>
  </form>
</div>